.container {
    text-align: center;
    background-position: center;
}


form {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    background: rgba(0,0,0,0.2);
    padding: 20px 18px;
    margin: 0 auto;
    border-radius: 3px;
}

#user-input {
 width: 450px;
 padding: 10px;
 border-radius: 4px;
 border: none;
}

#search-input {
width: 75px;
margin: 0px 10px;
border-radius: 30px;
border: none;
background-color: rgba(0,0,0,0.2);
}

.generated-lyrics {
    max-width: 500px;
    background: rgba(0,0,0,0.2);
    margin: 30px auto;
    padding: 18px;
    border-radius: 3px;
    text-align: left;
    border-left: 3px solid pink;
    
}

.hidden {
    display: none;
}

a {
    color: purple;
}

footer {
    margin: 30px;
    font-size: 15px;
}


